.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 9;

  &--active {
    visibility: visible;
  }

  &--disabled {
    visibility: hidden;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 9;
    transition: 0.5s all;

    &--active {
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      visibility: visible;
    }

    &--disabled {
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 0;
      visibility: hidden;
    }
  }

  &__inner {
    position: relative;
    padding: 30px 20px;
    z-index: 10;
    background-color: $modal-bg;
    width: 100vw;
    height: calc(100dvh - 64px);
    margin-top: 64px;
    transition: 0.5s all;

    @media(min-width: 768px) {
      max-width: 710px;
      width: 100%;
      border-radius: 9px;
      left: calc(50% - 355px);
      top: 18dvh;
      z-index: 999;
      height: fit-content;
      transform: translate(-50%);
      margin-top: 0;
    }

    &--active {
      transform: translateY(0);
      @media(min-width: 768px) {
        transform: none;
        opacity: 1;
      }
    }

    &--disabled {
      transform: translateY(100dvh);
        @media(min-width: 768px) {
            transform: translateY(100%);
            opacity: 0;
        }
    }

    .modal__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .modal__back {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 16px;
        font-weight: 500;
        color: #FFF;
      }
    }

    .modal__balance {
      display: flex;
      margin-bottom: 16px;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
      width: 100%;
      font-size: 14px;
      font-weight: 800;
      color: #FFF;
      gap: 4px;
      background: $secondary-color;
      border-radius: 6px;
      box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.09);

      span {
        color: #FFF;
        font-size: 18px;
        font-weight: 900;
      }
    }

    .dropdown {
      margin-bottom: 24px;
      padding: 16px 17px;
      background-color: $payment-option;
      border-radius: 4px;
      box-shadow: -5px 0 5px 0px rgba(0, 0, 0, 0.02), 4px 4px 5px 0 rgba(0, 0, 0, 0.05);

      &__selected {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
          display: flex;
          gap: 12px;
          align-items: center;

          &-data {
            display: flex;
            flex-direction: column;
            gap: 2px;

            p {
              font-size: 10px;
              font-weight: 800;
              display: flex;
              align-items: center;
              gap: 4px;
              color: white;

              span {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #FFF;
              }
            }

            span {
              color: rgba(255, 255, 255, 0.80);
              font-size: 6px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .modal__amount {
      color: #FFF;
      font-size: 16px;
      font-weight: 800;
      text-align: center;
      margin-bottom: 8px;
    }

    .deposit-amount {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 24px;

      &__input {
        border-radius: 4px;
        background: #30363E;
        padding: 7px 7px 5px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        input {
          background-color: transparent;
          border: none;
          margin-bottom: 2px;
          color: white;
          font-size: 16px;
          font-weight: 800;
          max-width: 32px;
        }
      }

      &__buttons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;

        .deposit-amount__button {
          background: $payment-option;
          border-radius: 4px;
          box-shadow: -1px 0 5px 0 rgba(0, 0, 0, 0.09), 4px 4px 5px 0 rgba(0, 0, 0, 0.05);
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 800;
          color: white;
          white-space: nowrap;
        }
      }

      &__warning {
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .promo-form {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 24px;

      &__label {
        color: #FFF;
        font-size: 16px;
        font-weight: 800;
      }

      &__wrapper {
        display: flex;
        align-items: center;
        gap: 16px;

        &-input {
          width: 100%;
          position: relative;

          input {
            height: 35px;
          }

          .promo-form__message {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
          }

          .promo-form__input {
            width: 100%;
            padding: 8px 12px;
            border-radius: 4px;
            background-color: $payment-option;
            outline: none;
            border: none;
            color: white;
            font-size: 14px;
            font-weight: 500;
            @media(min-width: 768px) {
              font-size: 16px;
              padding: 10px 16px;
            }
          }
        }

        &-btn {
          max-width: 85px;
          @media(min-width: 768px) {
            max-width: 152px;
            width: 100%;
          }
        }
      }
    }

    .modal__button {
      width: 100%;
      max-width: none;
    }
  }
}

